<footer class="border-t border-white/10">
  <div class="mx-auto flex max-w-6xl flex-col gap-4 px-4 py-8 text-sm text-zinc-400 sm:flex-row sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <p>&copy; 2026 Miles Scheetz</p>
    <div class="flex gap-4">
      <a class="hover:text-white" href="https://www.linkedin.com/in/miles-scheetz/">LinkedIn</a>
      <a class="hover:text-white" href="https://www.goodreads.com/user/show/64908740-miles-scheetz">Goodreads</a>
      <a class="hover:text-white" href="mailto:miles1scheetz@gmail.com">Email</a>
    </div>
  </div>
</footer>
